* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

a {
	text-decoration: none;
	color: #000000;
}


body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

html {
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: #222226;
  color: #fff;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a{
	font-size: 16px;
	color: #fff;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
}

div {
	-o-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	transition: 1s;

}

.page-header {
  margin: 0 0 160px;
  padding: 32px 0px 32px;
  text-align: right;
}

.page-header .container {
  max-width: 1408px;
  text-align: right;
}

.page-footer .container {
  max-width: 1408px;
  text-align: left;
}

.page-header a {
  margin-left: 56px;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.hero-image {
  margin-bottom: 264px;
}

.hero-image .container {
  max-width: 1408px;
}

.heading {
  margin: 0 0 16px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 88px;
  line-height: 96px;
  font-weight: 400;
  text-align: center;
}

.hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

.wrapper{
	min-height: 100%;
	overflow: hidden;
}

.wrapper__image img {
	width: 700px;
	margin: 0 auto;	
	padding: 25px 0;
}

.container{
	max-width: 1080px;
	margin: 0 auto;	

	display: flex;
	flex-direction: column;
}

.content{
	flex: 1 1 auto;
}

.history{
	background-color: #333336;
	padding: 10px 0;
}
.history__row{
	display: flex;
	justify-content: space-between;
}
.history__body{

}
.history__title{
	font-size: 60px;
	margin: 0px 0px 0px 0px;
}
.history__text{
	margin: 0px 0px 15px 0px;
	font-size: 20px;
}
.history__text p{
	font-size: 20px;
	line-height: 22px;
	margin: 0px 0px 15px 15px;
}
.history__text p:last-child {
	margin: 0;
}
.history__image{}

.title {
	line-height: 36px;
	font-size: 30px;
}
.order {
	padding: 50px 0; 
}
.order__row {
	display: flex;
}

.order__image {
	flex: 0 0 430px;
}

.order__image img{
	max-width: 430px;
}

.order__body {
	flex: 1 1 auto;
	padding: 0px 0px 0px 38px;
}

.order__title {
	font-size: 54px;
	margin: 0px 0px 33px 0px;
}

.order__text{
	margin: 0px 0px 20px 0px;
	font-size: 20px;
}
.order__text p{
	font-size: 20px;
	line-height: 24px;
	margin: 20px 0px 20px 35px;
}
.order__text p:last-child {
	margin: 0;
}

.order_list{
	margin: 0px 0px 38px 0px;
}
.order_list li{
	font-size: 20px;
	line-height: 24px;
	margin: 0px 0px 20px 30px;
}
.order_list p:last-child {
	margin: 0;
}

.columns {
	background-color: #333336;
	padding: 50px 0 20px 0;
	color: #fff;
}

.columns__title {
	font-size: 60px;
	margin: 0px 0px 30px 0px;
	text-align: center;
}

.columns__title p{
	margin: 0px 0px 50px 0px;
}

.columns__row {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -8px;
}

.columns__column {
	padding: 0px 8px;
	flex: 0 1 50%;
	margin: 0px 0px 30px 0px;
}

.slider__block{
	background-color: #445162;
	padding: 10px 0;
}
.slider__block__row{
	display: flex;
	justify-content: space-between;
}
.slider__block__body{

}
.slider__block__title{
	font-size: 60px;
	margin: 0px 0px 0px 0px;
}
.slider__block__text{
	margin: 0px 0px 15px 0px;
	font-size: 20px;
}
.slider__block__text p{
	font-size: 20px;
	line-height: 22px;
	margin: 0px 0px 15px 15px;
}
.slider__block__text p:last-child {
	margin: 0;
}
.slider__block__image{}

.item__row {
	display: flex;
}

.item__image {
	flex: 0 0 200px;
}

.item__image:hover {
	transform: scale(1.1);
	transition: 1s;
} 

.item__body {
	flex: 1 1 auto;
	padding: 0px 0px 0px 15px;

}

.item__title {
	font-size: 24px;
	line-height: 30px;
	margin: 0px 0px 13px 0px;

}

.item__text {
	font-size: 16px;
	line-height: 24px;
}

.vertical {
	padding: 50px 0;
}

.vertical__title {
	text-align: left;
	font-size: 60px;
	margin: 0px 0px 30px 0px;
}

.vertical__body {
	max-width: 1100px;
	margin: 0px auto;
}

.vertical__row {
	display: flex;
	margin: 0px -22.5px;
}

.vertical__column {
	padding: 0px 22.5px;
	flex: 0 1 33.333%;
	display: flex;
}

.vertical__item {
	background-color: #333336;
	border: 1px solid #333336;
	padding: 0px 0px 10px 0px;
	display: flex;
	flex-direction: column;
}

.vertical__column:hover	 {
	transform: scale(1.05);
}

.vertical__subtitle {
	font-size: 24px;
	text-transform: uppercase;
	padding: 12px 0px;
	text-align: center;

}
.vertical__label {
	background-color: #fff;
	text-align: center;
	padding: 15px 0px;
	font-size: 40px;
	color: #000;
}
.vertical__text{
	padding: 20px 0;
	line-height: 24px;
	flex: 1 1 auto;
}

.vertical__text p {
	margin: 0px 0px 15px 0px;
	font-size: 22px;
}

.vertical__text li {
	margin: 0px 0px 15px 0px;
	font-size: 16px;
	list-style-type: none;
	text-align: center;
}

.vertical__text p:last-child {
	margin: 0;
}

.vertical__btn {
	display: block;
	margin: 0 20px;
	height: 40px;
	background-color: #5d5d5e;
	font-weight: bold;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
}

.vertical__btn:hover {
	background-color: #727272;
}

.footer{
	background-color: #333336;
	padding: 50px 25px 50px 25px;
}

.footer__row{
	display: flex;
	height: 65px;
	justify-content: flex-end;
	align-items: center;
	padding: 0px 15px 0px 15px;
}

.footer__text{
	font-size: 16px;
	letter-spacing: 0.3px;
}

.footer__text a {
	display: flex;
	margin-left: 2%;
}

.footer-email {
	padding-left: 30px;
	background-image: url("img/icon-email.svg");
}

.footer-phone {
	float: right;
	padding-left: 30px;
	background-image: url("img/icon-phone.svg");
}

.music-box iframe {
	width: 200px;
	height: 200px;
}

.slick-slider{
	min-width: 0;
}
.slick-list {
	overflow: hidden;
}
.slick-track{
	display: flex;
	align-items: flex-start;
}

.slick-slide:hover {
	transform: scale(1.05);
	transition: 1s;
}

.slick-slide{}
.slick-slide.slick-active{}
.slick-slide.slick-current{}
.slick-slide.slick-center{}

.slick-arrow{}
.slick-arrow.slick-prev{}
.slick-arrow.slick-next{}
.slick-arrow.slick-disabled{}

.slick-dots{}
.slick-dots li{}
.slick-dots button{}

.slider {
	position: relative;
	padding: 0px 60px;
}

@media (max-width:767px){
	.slider {
		padding: 0px 40px;
	}
}

.slider .slick-arrow{
	position: absolute;
	top: 50%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}
.slider .slick-arrow.slick-prev{
	left: 0;
	background: url('../img/sl-arrow_l.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next{
	right: 0;
	background: url('../img/sl-arrow_r.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-disabled{
	opacity: 0.2;
}

.slider .slick-dots{
	display: flex;
	align-items: center;
	justify-content: center;
}
.slider .slick-dots li{
	list-style: none;
	margin: 0px 10px;
}
.slider .slick-dots button{
	font-size: 0;
	width: 10px;
	height: 10px;
	background-color: #fff;
}

.slider .slick-dots li.slick-active button{
	background-color: transparent;
	border: 1px solid #fff;
}

.slider__item {
	padding: 0px 15px;
}
.slider__item img{
	max-width: 80%;
}
.slider__item.slick-center{}


@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (max-width:767px){
	.slider {
		padding: 0px 40px;
	}
	.wrapper{
		padding: 50px 10px;
	}

}
