html {
	max-width: 1920px;
	margin: auto;

}

body {
  margin: 0;
  min-width: 960px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  background-color: #f2f4f6;
  background-image: url("img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url(img/background-4.jpg);
}

figure {
	text-align: center;
}

.container {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
}

.page-header {
  margin: 0 0 160px;
  padding: 32px 0px 32px;
  text-align: right;
}

.page-header .container {
  max-width: 1408px;
  text-align: right;
}

.page-footer .container {
  max-width: 1408px;
  text-align: left;
}

.page-header a {
  margin-left: 56px;
  color: #288be6;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.hero-image {
  margin-bottom: 620px;
  text-align: center;
}

.hero-image .container {
  max-width: 1408px;
  text-align: center;
}

.heading {
  margin: 0 0 16px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 88px;
  line-height: 96px;
  font-weight: 400;
}

.hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

.intro {
  margin: 0 0 60px;
}

.subheading {
  margin: 0px 0 56px;
  font-family: "Old Standard TT", "Times", "Times New Roman", serif;
  font-size: 64px;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
}

.user-image {
  margin: 0 0 32px;
  text-align: center;
}

.intro h3,
.portfolio h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}
.intro h2 {
  padding: 50px 0 0 0;
}

.intro p {
  margin: 0 0 32px;
}

.skills {
  margin: 0 0 60px;
}

.skills-list {
  margin: 0;
  padding: 0;
}

.skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}

.skill-html {
  background-image: url("img/icon-html.svg");
  background-size: 30px;
}

.skill-css {
  background-image: url("img/icon-css.svg");
  background-size: 30px;
}

.skill-js {
  background-image: url("img/icon-js.svg");
  background-size: 23px;
  margin-left: 4px;
}

.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid #86c3fa;
  border-radius: 8px;
}

.level div {
  margin: 1px;
  height: 12px;
  background-color: #288be6;
  border-radius: 6px;
}

.portfolio {
  margin: 0 0 120px;
}

.project {
  margin: 0 0 60px;
}

.projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  margin: 0 0 80px;
}

.project-image {
  margin: 0 0 24px;
  text-align: center;
}

.projects p {
  margin: 0 0 24px;
}

.button {
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #288be6;
  color: #ffffff;
}

.button:hover {
 	background-color: #2165a3;
	transform: scale(1.05);
	transition: 1s;
}

.page-footer {
  padding: 40px 20px;
  background-color: #00417d;
  color: #ffffff;

}

.page-footer a {
  margin-left: 56px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.footer-email {
  padding-left: 30px;
  background-image: url("img/icon-email.svg");
}

.footer-phone {
  padding-left: 30px;
  background-image: url("img/icon-phone.svg");
}

.music-box iframe {
	width: 200px;
	height: 200px;
}

.image-size {
	width: 200px;
	height: 200px;
}

.image-size:hover {
	transform: scale(1.2);
	transition: 1s;
}

.container-module {
	display: flex;
	align-items: stretch;
	text-align: center;
	margin: 0 0 40px;
}

.container-module li {
	list-style-type: none;
}

.module {
	width: 33%;
}