* {
  padding: 0;
  margin: 0;
}

html {

}

body {
  max-width: 1388px;
  min-height: 100vh;
  margin: 0 auto;
  background-image: url(img/bg.jpg);
  background-size: cover;
  font-family: 'PT Sans Narrow', sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px
  min-height: 100%;
  margin: 0 auto;
}

.content {
  flex: 1 0 auto;
}

.footer {
  padding: 25px 10px 25px 10px;
  align-self: flex-end;
  flex: 0 0 auto;
}

.nav {}
.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0px 0px 20px 0px;
}
.nav__column {
}
.nav__item {
  background-color: #18b5a4;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}

.creative {}
.creative__row {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-self: stretch;

  margin: 0px 0px 20px 0px;
}

.creative__image {
  display: flex;
  padding: 250px 480px;
  background-image: url('img/img-bridge.jpg');
  background-size: cover;
  justify-content: center;
  align-self: center;
  align-items: center;
}

.creative__column {
}
.creative__item {
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}

.creative__item h1 {
  width: 400px;
}

.creative__item h2 {
  margin: 0px 0px 20px 0px;
}

.creative__item p {
}

.nav__logo {
  
  font-size: 50px;
}

.sup-menu {}
.sup-menu__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 0px 0px;
}
.sup-menu__column {
}
.sup-menu__item {
  background-color: #18b5a4;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}

.sub-menu {}
.sub-menu__row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
}
.sub-menu__column {
  border: 5px solid #5e5373;
}
.sub-menu__item {
  background-color: #18b5a4;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  margin-left: 50px;
  margin-right: 50px;


}
