* {
  padding: 0;
  margin: 0;
}

html {
}

body {
  max-width: 100%;
  /*max-width: 100%;*/
  background-image: url(img/bg.jpg);
  background-size: cover;
  font-family: 'PT Sans Narrow', sans-serif;
  margin: 0 auto;
  color: #fff;
}

.wrapper {
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100%;
}

.header ul {
  display: flex;
  list-style-type: none;
  text-transform: uppercase;
  justify-content: center;
  font-weight: 700;
}

.header li {
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  /*background: linear-gradient(180deg, #d98e61, #b1520a);*/
}

.header a:hover {
  color: #ff7e00;
}

.header a {
  text-decoration: none;
  color: #98987b;
}

.header a:nth-child(2) {
  text-decoration: none;
  margin-right: 560px;
}

.creative__image {
  height: 50%;
}
 
.creative__image img {
  width: 80%;
}

.creative__item {
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.creative__item h2 {
  margin: 0px 0px 20px 0px;
}

.service {
  font-size: 16px;
}

.service h1{
  font-size: 22px;
  color: #98987b;
  text-transform: uppercase;
}

.service h2{
  font-size: 16px;
  color: #98987b;
}

.service p{
  font-size: 16px;
  color: #747474;
}

.service__row {
  display: flex;
  justify-content: center;
}

.service__image {
  padding-bottom: 20px;
}

.service__column {
  padding: 10px;
}

.service__item {
  /*border: 5px solid #000;*/
}

.service__btn-block {
  padding: 10px 10px 10px 0px;
}

.service__column figure{
  max-width: 270px;
}

.service__btn {
  font-size: 16px;
  padding: 5px 15px 5px 15px;
  background: linear-gradient(180deg, #d98e61, #b1520a);
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.service__btn:hover {
  background: linear-gradient(180deg, #b7672f, #863e07);
}

.footer {
  flex: 0 0 auto;
  position: relative;
}

.footer p{
  text-align: center;

  font-size: 16px;
  position: absolute;
  width: 100%;
  top: 25px;
} 

.footer img {
  height: 10vh;
  width: 100%;
}

/*.sup-menu {}
.sup-menu__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0px 0px 0px;
}
.sup-menu__column {
  width: 100%;
}

.sup-menu__item {
  background-color: #18b5a4;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}

.sub-menu {
  width: 100%;
  margin: 0 auto;
}

.sub-menu__text h4 {
  color: #999a7c;
}

.sub-menu__row {
  display: flex;
  justify-content: center;
  width: 1080px;
  margin: 0 auto;
}
.sub-menu__column {
  padding: 50px 10px 10px 10px;
}
.sub-menu__item {
  font-size: 16px;
  color: #fff;
  padding-bottom: 20px;
}

.sub-menu__column img {
}

.sub-menu__item h2 {
  color: #9c9c7c;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.sub-menu__item h3 {
  color: #999a7c;
}

.sub-menu__item p {
  color: #5b5653;
}

.sub-menu__btn {
  font-size: 16px;
  padding: 5px 15px 5px 15px;
  background: linear-gradient(180deg, #d98e61, #b1520a);
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.sub-menu__btn:hover {
  background: linear-gradient(180deg, #e39965, #ed7215);
}*/

